.emptyDiv{
    height: 20px;
}

.list li a{
    text-decoration: none;

}

.list{
    list-style-type: none;
}

.list li a:hover{
    color: black;
}

.inactive{
    color: #1976d2;
}

.active{
    color:  #9c27b0;
}